body{
  background: linear-gradient(#01bccd, #ff65b8);
  font-size: 10px
}

#wrapper{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}

h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 10rem;
  line-height: 0.8em;
  text-align: left;
  text-transform: uppercase;
background: url('https://images.unsplash.com/photo-1565638459249-c85cbb2faaa8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-repeat: no-repeat;
  background-position: 0% 80%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
